body {
  background-color: #8c8484;
  font-family: 'Press Start 2P', cursive; }

header {
  margin: 0 auto;
  padding: 20px 0px;
  background-color: black;
  color: white;
  width: 100%;
  top: 0;
  font-size: 1em;
  word-spacing: -5px;
  z-index: 1; }
  header #header-img {
    width: 100px; }
  header nav ul li {
    font-size: 0.85em;
    margin: 0px 5px; }

article {
  margin: 25px 0px 50px 0px;
  font-size: .8em;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px; }
  article h3 {
    font-size: 1.8em; }

@media only screen and (max-width: 900px) {
  header {
    font-size: 0.8em; }
    header #header-img {
      width: 70px; }
    header h1 {
      font-size: 2em; }
  article {
    margin-top: 25px; }
    article h3 {
      font-size: 1.3em; } }

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

iframe, form {
  margin: 0 auto;
  padding: 30px 0px; }

.media {
  margin: 0 auto;
  padding: 20px 20px; }

.pokeball {
  width: 35px; }

.box {
  max-width: 300px;
  margin: 25px 10px;
  padding: 0px;
  border: 1px solid black; }
  .box .time-title {
    margin: 0 auto;
    padding: 5px 0px;
    background-color: black;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.5em;
    color: white; }
  .box .product {
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    height: 230px; }
    .box .product h5 {
      display: flex;
      justify-content: center;
      font-size: 1.8em; }
  .box .boton {
    margin: 0 auto;
    padding: 20px 0px; }
